@import "tailwindcss";

:root {
  --color-bg: #f0f6ff; /* azul bem claro */
  --color-bg-secondary: #ffffff;
  --color-primary: #2563eb; /* azul principal */
  --color-primary-dark: #1e40af;
  --color-secondary: #60a5fa; /* azul claro */
  --color-text: #0a0a0a;
  --color-text-secondary: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1e293b;
    --color-bg-secondary: #1e293b;
    --color-primary: #60a5fa;
    --color-primary-dark: #2563eb;
    --color-secondary: #1e40af;
    --color-text: #ededed;
    --color-text-secondary: #60a5fa;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
